# sdkconfig.defaults — ESP2 Cerebro+Motor
# ESP32-S3 Supermini (4MB Flash, NO PSRAM)

CONFIG_IDF_TARGET="esp32s3"

# PSRAM — disabled
CONFIG_SPIRAM=n

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# Partitions
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Stack / heap
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
